@page "/Taskmode"
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Navigations

<button id="Disableedit" @onclick="Disableedit">Editing False</button>

<SfGantt @ref="Gantt"
		 ID="Gantttaskmode"
         DataSource="@TaskCollection"
         Toolbar="@(new List<string>() { "Add", "Cancel", "Update" , "Delete", "Edit", "CollapseAll", "ExpandAll",  "Indent" , "Outdent" ,"ZoomIn", "ZoomOut", "ZoomToFit"})" 
		 AllowSelection="true"
         EnableContextMenu="true"
         AllowResizing="true"
         AllowRowDragAndDrop="true"
         HighlightWeekends="true"
         TaskMode="ScheduleMode.Custom"
         ValidateManualTasksOnLinking="true"
         Height="450px"
         Width="1400px">

    <GanttTaskFields Id="TaskId"
                     Name="TaskName"
                     StartDate="StartDate"
                     EndDate="EndDate"
                     Duration="Duration"
                     Progress="Progress"
                     ParentID="ParentId"
                     Manual="IsManual"
                     Notes="Notes">
    </GanttTaskFields>

    <GanttTimelineSettings UpdateTimescaleView="true"> </GanttTimelineSettings>

    <GanttEditSettings AllowEditing="@allowEdit" AllowAdding="true" AllowDeleting="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true">
        </GanttEditSettings>

    <GanttLabelSettings TValue="TaskData" RightLabel="TaskName"></GanttLabelSettings>

    <GanttColumns>
        <GanttColumn Field="TaskId" Width="100"></GanttColumn>
        <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250"></GanttColumn>
        <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
        <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
        <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
        <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
        <GanttColumn Field="IsManual" HeaderText="Task Mode"></GanttColumn>
        <GanttColumn Field="Notes" HeaderText="Notes"></GanttColumn>
    </GanttColumns>

    <GanttSplitterSettings Position="60%"></GanttSplitterSettings>


</SfGantt>

@code{
    public SfGantt<TaskData> Gantt;
    public Boolean allowEdit { get; set; } = true;
    public List<TaskData> TaskCollection { get; set; }

    public void Disableedit()
    {   
       allowEdit = false;
    }

    protected override void OnInitialized()
    {
        this.TaskCollection = GetTaskCollection();
    }

    public class TaskData
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime? EndDate { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public int? ParentId { get; set; }
        public string Notes { get; set; }
        public bool IsManual { get; set; }
        public string TaskMode { get; set; }
    }
    public static List<TaskData> GetTaskCollection()
    {
        List<TaskData> Tasks = new List<TaskData>() {
        new TaskData() {
            TaskId = 1,
            TaskName = "Product concept ",
            StartDate = new DateTime(2019, 04, 02),
            EndDate = new DateTime(2019, 04, 08),
            Duration = "5days",
            IsManual= true,
        },
        new TaskData() {
            TaskId = 2,
            TaskName = "Defining the product usage",
            StartDate = new DateTime(2019, 04, 02),
            EndDate = new DateTime(2019, 04, 08),
            Duration = "3",
            Progress = 30,
            ParentId = 1
        },
        new TaskData() {
            TaskId = 3,
            TaskName = "Defining the Target audience",
            EndDate = new DateTime(2019, 04, 04),
            Progress = 40,
            ParentId = 1,
            IsManual= true
        },
        new TaskData() {
            TaskId = 4,
            TaskName = "Prepare product sketch and notes",
            StartDate = new DateTime(2019, 04, 05),
            Duration = "2",
            Progress = 30,
            ParentId = 1
        },
       new TaskData() {
            TaskId = 5,
            TaskName = "Concept approval",
            StartDate = new DateTime(2019, 04, 08),
            EndDate = new DateTime(2019, 04, 08),
            Duration="0"
        },
        new TaskData() {
            TaskId = 6,
            TaskName = "Market Research",
            StartDate = new DateTime(2019, 04, 09),
            EndDate = new DateTime(2019, 04, 18),
            Duration = "4",
            Progress = 30,
            IsManual= true
        },
        new TaskData() {
            TaskId = 7,
            TaskName = "Demand Analysis",
            Duration = "4",
            Progress = 40,
            ParentId = 6
        },
        new TaskData() {
            TaskId = 8,
            TaskName = "Customer Strength",
            StartDate = new DateTime(2019, 04, 09),
            EndDate = new DateTime(2019, 04, 12),
            Duration = "4",
            Progress = 30,
            ParentId = 7

        }, new TaskData() {
            TaskId = 9,
            TaskName = "Market Opportunity analysis",
            StartDate = new DateTime(2019, 04, 09),
            EndDate = new DateTime(2019, 04, 012),
            Duration="4",
            ParentId= 7
        },
        new TaskData() {
            TaskId = 10,
            TaskName = "Competitor analysis",
            StartDate = new DateTime(2019, 04, 15),
            EndDate = new DateTime(2019, 04, 18),
            Duration = "4",
            Progress = 30,
            ParentId= 6
        },
        new TaskData() {
            TaskId = 11,
            TaskName = "Product Strength Analysis",
            StartDate = new DateTime(2019, 04, 15),
            EndDate = new DateTime(2019, 04, 18),
            Duration = "4",
            Progress = 40,
            ParentId = 6
        },
        new TaskData() {
            TaskId = 12,
            TaskName = "Research Completed",
            StartDate = new DateTime(2019, 04, 18),
            EndDate = new DateTime(2019, 04, 18),
            Duration = "0",
            Progress = 30,
            ParentId = 6
        },
         new TaskData() {
            TaskId = 13,
            TaskName = "Product design and developement",
            StartDate = new DateTime(2019, 04, 19),
            EndDate = new DateTime(2019, 05, 16),
            Duration="20",
        },
        new TaskData() {
            TaskId = 14,
            TaskName = "Functionality Design",
            StartDate = new DateTime(2019, 04, 19),
            EndDate = new DateTime(2019, 04, 23),
            Duration = "3",
            Progress = 30,
            ParentId = 13
        },
        new TaskData() {
            TaskId = 15,
            TaskName = "Quality Design",
            StartDate = new DateTime(2019, 04, 19),
            EndDate = new DateTime(2019, 04, 23),
            Duration = "3",
            Progress = 40,
            ParentId = 13
        },
        new TaskData() {
            TaskId = 16,
            TaskName = "Define reliability",
            StartDate = new DateTime(2019, 04, 24),
            EndDate = new DateTime(2019, 04, 25),
            Duration = "2",
            Progress = 30,
            ParentId = 13
        },
    };
        return Tasks;
    }
}