@page "/BLAZ-954018"
@using Syncfusion.Blazor.Gantt;
@using Syncfusion.Blazor.Grids;
@rendermode InteractiveServer
<div>@messsage</div>
<SfGantt DataSource="@TaskCollection" Height="550px" Width="100%" HighlightWeekends="true"
         Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll", "Indent", "Outdent" })"
         AllowSelection="true" GridLines="Syncfusion.Blazor.Gantt.GridLine.Both" TreeColumnIndex="1"
         ScrollToTaskbarOnClick="true">
    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                     Dependency="Predecessor" Child="SubTasks"></GanttTaskFields>
    <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"></GanttEditSettings>
    <GanttColumns>
        <GanttColumn Field="TaskId" Width="100"></GanttColumn>
        <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250" ClipMode="ClipMode.EllipsisWithTooltip"></GanttColumn>
        <GanttColumn Field="custom" EditType="EditType.NumericEdit" HeaderText="Job Name" Width="250" ClipMode="ClipMode.EllipsisWithTooltip"></GanttColumn>
    </GanttColumns>
    <GanttLabelSettings LeftLabel="TaskName" TaskLabel="Progress" TValue="GanttData.TaskData"></GanttLabelSettings>
    <GanttSplitterSettings ColumnIndex="2"></GanttSplitterSettings>
    <GanttEvents TValue="GanttData.TaskData" OnActionFailure="ActionFailureHandler"></GanttEvents>
</SfGantt>

@code {
    private DateTime ProjectStartDate { get; set; } = new DateTime(2025, 3, 25);
    private DateTime ProjectEndDate { get; set; } = new DateTime(2025, 9, 01);
    private List<GanttData.TaskData> TaskCollection { get; set; }
    public string messsage{ get; set; }

    protected override void OnInitialized()
    {
        TaskCollection = GanttData.EditingData().ToList();
    }
    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
       messsage += " OnAction failure Event triggered";
    }
    public class GanttData
    {
        public class TaskData
        {
            public int TaskId { get; set; }
            public string TaskName { get; set; }
            public DateTime? StartDate { get; set; }  //will not use this property
            public DateTime? EndDate { get; set; }  //will not use this property
            public string Duration { get; set; }
            public double custom { get; set; }
            public int Progress { get; set; }
            public string Predecessor { get; set; }
            public string Notes { get; set; }
            public List<TaskData> SubTasks { get; set; }
        }

        public static List<TaskData> EditingData()
        {
            List<TaskData> Tasks = new List<TaskData>()
            {
                new TaskData
                {
                    TaskId = 1,
                    TaskName = "Project Initiation",
                    StartDate = new DateTime(2025, 3, 25),
                    EndDate = new DateTime(2025, 4, 1),
                    Duration = "",
                    Progress = 100,
                    Predecessor = "",
                    Notes = "Project Initiation",
                    SubTasks = new List<TaskData>
                    {
                        new TaskData
                        {
                            TaskId = 2,
                            TaskName = "Project Initiation A",
                            StartDate = new DateTime(2025, 3, 25, 08, 00, 00),
                            EndDate = new DateTime(2025, 4, 25, 14, 00, 00),
                        },
                        new TaskData
                        {
                            TaskId = 3,
                            TaskName = "Project Initiation B",
                            StartDate = new DateTime(2025, 4, 25, 14, 00, 00),
                            EndDate = new DateTime(2025, 5, 25, 18, 00, 00),
                        }
                    }
                },
                new TaskData
                {
                    TaskId = 4,
                    TaskName = "Project Planning",
                    StartDate = new DateTime(2025, 4, 2),
                    EndDate = new DateTime(2025, 4, 15),
                    Duration = "",
                    Progress = 100,
                    Predecessor = "",
                    Notes = "Project Planning",
                    SubTasks = new List<TaskData>
                    {
                        new TaskData
                        {
                            TaskId = 5,
                            TaskName = "Project Initiation C",
                            StartDate = new DateTime(2025, 3, 26, 08, 00, 00),
                            EndDate = new DateTime(2025, 3, 26, 14, 00, 00),
                        },
                        new TaskData
                        {
                            TaskId = 6,
                            TaskName = "Project Initiation D",
                            StartDate = new DateTime(2025, 3, 26, 14, 00, 00),
                            EndDate = new DateTime(2025, 3, 26, 18, 00, 00),
                        }
                    }
                }
            };
            return Tasks;
        }
    }
}



