@page "/Scroll-the-content-by-external-button"
@rendermode InteractiveServer
@* UG - https://blazor.syncfusion.com/documentation/gantt-chart/scrolling#scroll-the-content-by-external-button *@
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Buttons
<div>@message</div>
ColumnIndex : <input @bind-value = "@ColumnIndex" />
<SfButton @onclick="Scroll" Content="Scroll Horizontally"></SfButton>
<br><br>
RowIndex : <input @bind-value = "@RowIndex" />
<SfButton @onclick="Scroll" Content="Scroll Vertically"></SfButton>
<SfGantt @ref="Gantt" ID="Gantt" DataSource="@TaskCollection" 
   EnableRowVirtualization="true" EnableTimelineVirtualization="true" EnableColumnVirtualization="true"  Height="350px" Width="650px">
    <GanttTaskFields Id="ProjectId" Name="ProjectName" StartDate="ProjectStartDate" EndDate="ProjectEndDate" Duration="ProjectDuration" Progress="ProjectProgress" Dependency="Predecessor" ParentID="ParentId">
    </GanttTaskFields>
     <GanttColumns>
        <GanttColumn Field="ProjectId" HeaderText="Task ID"></GanttColumn>
        <GanttColumn Field="ProjectName" HeaderText="Task Name"> </GanttColumn>
        <GanttColumn Field="ProjectStartDate" HeaderText="Start Date"></GanttColumn>
        <GanttColumn Field="ProjectEndDate" HeaderText="End Date"></GanttColumn>
        <GanttColumn Field="ProjectDuration" HeaderText="Duration"></GanttColumn>
        <GanttColumn Field="Field1" HeaderText="Rebounds"></GanttColumn>
        <GanttColumn Field="FIELD2" HeaderText="Year"></GanttColumn>
        <GanttColumn Field="FIELD3" HeaderText="Stint"></GanttColumn>
        <GanttColumn Field="FIELD4" HeaderText="TMID"> </GanttColumn>
        <GanttColumn Field="FIELD5" HeaderText="LGID"></GanttColumn>
        <GanttColumn Field="FIELD6" HeaderText="GP"></GanttColumn>
        <GanttColumn Field="Field7" HeaderText="GS"></GanttColumn>
        <GanttColumn Field="Field8" HeaderText="Minutes"></GanttColumn>
        <GanttColumn Field="Field9" HeaderText="Points"></GanttColumn>
        <GanttColumn Field="Field10" HeaderText="ORebounds"></GanttColumn>
        <GanttColumn Field="Field11" HeaderText="DRebounds"></GanttColumn>
    </GanttColumns>
    <GanttEvents TValue="TaskData" OnActionFailure="ActionFailureHandler"></GanttEvents>
</SfGantt>
@code {
    public SfGantt<TaskData> Gantt;
    public List<TaskData> TaskCollection { get; set; }
    public string message{ get; set; } 
    public void ActionFailureHandler(Syncfusion.Blazor.Grids.FailureEventArgs args)
    {
       message += " OnAction failure Event triggered";
    }
    public int ColumnIndex { get; set; } = -1;
    public int RowIndex { get; set; } = -1;
    protected override void OnInitialized()
    {
        this.TaskCollection = VirtualData.GetTreeVirtualData();
    }
    public async Task Scroll()
    {
        await Gantt.ScrollIntoViewAsync(ColumnIndex, RowIndex);
    }
    public class VirtualData
    {
        public static List<TaskData> GetTreeVirtualData()
        {
            string[] Names = new string[] { "VINET", "TOMSP", "HANAR", "VICTE", "SUPRD", "HANAR", "CHOPS", "RICSU", "WELLI", "HILAA", "ERNSH", "CENTC", "OTTIK", "QUEDE", "RATTC", "ERNSH", "FOLKO", "BLONP", "WARTH", "FRANK", "GROSR", "WHITC", "WARTH", "SPLIR", "RATTC", "QUICK", "VINET", "MAGAA", "TORTU", "MORGK", "BERGS", "LEHMS", "BERGS", "ROMEY", "ROMEY", "LILAS", "LEHMS", "QUICK", "QUICK", "RICAR", "REGGC", "BSBEV", "COMMI", "QUEDE", "TRADH", "TORTU", "RATTC", "VINET", "LILAS", "BLONP", "HUNGO", "RICAR", "MAGAA", "WANDK", "SUPRD", "GODOS", "TORTU", "OLDWO", "ROMEY", "LONEP", "ANATR", "HUNGO", "THEBI", "DUMON", "WANDK", "QUICK", "RATTC", "ISLAT", "RATTC", "LONEP", "ISLAT", "TORTU", "WARTH", "ISLAT", "PERIC", "KOENE", "SAVEA", "KOENE", "BOLID", "FOLKO", "FURIB", "SPLIR", "LILAS", "BONAP", "MEREP", "WARTH", "VICTE", "HUNGO", "PRINI", "FRANK", "OLDWO", "MEREP", "BONAP", "SIMOB", "FRANK", "LEHMS", "WHITC", "QUICK", "RATTC", "FAMIA" };
            List<TaskData> DataCollection = new List<TaskData>();
            var x = 0;
            for (var i = 1; i <= 100; i++)
            {
                TaskData Parent = new TaskData()
                {
                    ProjectId = ++x,
                    ProjectName = "Task " + x,
                    ProjectStartDate = new DateTime(2022, 1, 9),
                    ProjectEndDate = new DateTime(2022, 1, 13),
                    ProjectDuration = "10",
                    ProjectProgress =  x + 20,
                    ParentId = null,
                    Predecessor = null,
                };
                DataCollection.Add(Parent);
                for (var j = 1; j <= 50; j++)
                {
                    DataCollection.Add(new TaskData()
                    {
                        ProjectId = ++x,
                        ProjectName = "Task " + x,
                        ProjectStartDate = new DateTime(2022, 1, 9),
                        ProjectEndDate = new DateTime(2022, 1, 13),
                        ProjectDuration = "10",
                        ProjectProgress = x + 20,
                        ParentId = Parent.ProjectId,
                        Predecessor = i + "FS",
                        Field1 = Names[x % Names.Length],
                        FIELD2 = 1967 + x + 10,
                        FIELD3 = 395 + x + 10,
                        FIELD4 = 87 + x + 10,
                        FIELD5 = 410 + x + 10,
                        FIELD6 = 67 + x + 10,
                        Field7 = (x + 10 * 100),
                        Field8 = (x + 10 * 10),
                        Field9 = (x + 10 * 10),
                        Field10 = (x + 10 * 100),
                        Field11 = (x + 10 * 100),
                        Field12 = (x + 10 * 1000),
                    });
                }
            }
            return DataCollection;
        }
    }
    public class TaskData
    {
        public int ProjectId { get; set; }
        public string ProjectName { get; set; }
        public DateTime? ProjectStartDate { get; set; }
        public DateTime? ProjectEndDate { get; set; }
        public string ProjectDuration { get; set; }
        public int ProjectProgress { get; set; }
        public int? ParentId { get; set; }
        public string Predecessor { get; set; }
        public string Field1 { get; set; }
        public int FIELD2 { get; set; }
        public int FIELD3 { get; set; }
        public int FIELD4 { get; set; }
        public int FIELD5 { get; set; }
        public int FIELD6 { get; set; }
        public int Field7 { get; set; }
        public int Field8 { get; set; }
        public int Field9 { get; set; }
        public int Field10 { get; set; }
        public int Field11 { get; set; }
        public int Field12 { get; set; }
    }
}