@page "/BLAZ-26005"
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.TreeGrid

<button @onclick="Addnewrecord">Addnewrecord</button>
<button @onclick="EditDialog">EditDialog</button>
<button @onclick="RemovePredecessor">RemovePredecessor</button>
<button @onclick="UpdateRecord">UpdateRecord</button>
<button @onclick="FilterRecord">FilterRecord</button>
<button @onclick="FilterModechange">FilterModechange</button>
<button @onclick="AllowEditing1">AllowEditing</button>
<button @onclick="AllowAdding1">AllowAdding</button>
<button @onclick="AllowSorting1">AllowSorting</button>

<SfGantt DataSource="@TaskCollection" ID="sfGantt_50" @ref="Gantt" AllowResizing="true"  AllowReordering="true" Height="450px" Width="950px" HighlightWeekends="true"  AllowSorting="AllowSorting" AllowFiltering="true" EnableContextMenu="true"
                     Toolbar="@(new List<string>(){ "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll","ExcelExport", "CsvExport","ZoomToFit"})"
                     AllowSelection="true"  GridLines="Syncfusion.Blazor.Gantt.GridLine.Both" AllowExcelExport="true" TreeColumnIndex="1"
                     >
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" ParentID="ParentId" Notes="Notes"></GanttTaskFields>
                <GanttEditSettings AllowAdding="AllowAdding"  AllowDeleting="true" AllowEditing="AllowEditing" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true" ></GanttEditSettings>
                <GanttFilterSettings HierarchyMode="HierarchyMode"></GanttFilterSettings>
                <GanttSelectionSettings Mode="SelectionMode.Cell" CellSelectionMode="CellSelectionMode.Box"></GanttSelectionSettings>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100" AllowEditing="true"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                    <GanttColumn Field="Notes" ClipMode="Syncfusion.Blazor.Grids.ClipMode.Ellipsis"></GanttColumn>
                    <GanttColumn Field="Custom"></GanttColumn>
                    <GanttColumn Field="Custom"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress"></GanttColumn>
                    <GanttColumn Field="Predecessor" HeaderText="Dependency"></GanttColumn>
                    
                </GanttColumns>
                <GanttEvents OnToolbarClick="ToolbarClickHandler" TaskbarEdited="TaskbarEdited" OnActionBegin="actionBegin" OnActionComplete="OnActionComplete"  TValue=TaskData></GanttEvents>
                <GanttLabelSettings LeftLabel="TaskName" TValue="TaskData">
                </GanttLabelSettings>
                <GanttSplitterSettings Position="40%"> </GanttSplitterSettings>
            </SfGantt>

@code{
    public SfGantt<TaskData> Gantt;
    public Syncfusion.Blazor.Gantt.FilterHierarchyMode HierarchyMode = Syncfusion.Blazor.Gantt.FilterHierarchyMode.None;
    public bool AllowEditing = false;
    public bool AllowAdding = false;
    public bool AllowSorting = false;

    @* public DateTime ProjectStart = new DateTime(2019, 3, 24);

    public DateTime ProjectEnd = new DateTime(2019, 7, 6); *@

    public List<TaskData> TaskCollection { get; set; }

    public void actionBegin(GanttActionEventArgs<TaskData> args)
    {
        //Here, you can customize your code.
        //if(args.Data != null)
        //{
        //    if(args.Data.TaskId == 3)
        //    {
        //        args.Data.TaskName = "action complete updated";
        //    }
        //}
    }

    public void TaskbarEdited(TaskbarEditedEventArgs<TaskData> args)
    {
        // Here, you can get the error details in the args.
    }

    public void ContextMenuItemClickedHandler(ContextMenuClickEventArgs<TaskData> args)
    {
        // Here, you can customize your code.
    }
    public void OnActionComplete(GanttActionEventArgs<TaskData> args)
    {
        //Here, you can customize your code.
        //for (int i = 0; i < args.ModifiedTaskData.Count; i++)
        //{
        //    if (args.ModifiedTaskData[i].TaskId == 3)
        //    {
        //        args.ModifiedTaskData[i].TaskName = "Updated";
        //        this.Gantt.UpdateRecordByIDAsync(args.ModifiedTaskData[i]);
        //    }
        //}

    }
    public void RowDataBoundHandler(RowDataBoundEventArgs<TaskData> args)
    {
        // Here, you can customize your code.
    }

    protected override void OnInitialized()
    {
        this.TaskCollection = GetTaskCollection();
    }
    public void ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "sfGantt_50_excelexport")
        {
            this.Gantt.ExportToExcelAsync();
        }
        else if (args.Item.Id == "sfGantt_50_csvexport")
        {
            this.Gantt.ExportToCsvAsync();
        }
    }

    public void Addnewrecord() {
        this.Gantt.AddRecordAsync(new TaskData() { TaskId = 100, TaskName = "New Record",Predecessor = "3" }, 2,Syncfusion.Blazor.Gantt.RowPosition.Above);
    }

    public void FilterModechange()
    {
        this.HierarchyMode = Syncfusion.Blazor.Gantt.FilterHierarchyMode.Child;
    }

    public void AllowEditing1()
    {
        if (!this.AllowEditing)
            this.AllowEditing = true;
        else
            this.AllowEditing = false;
    }

    public void AllowAdding1()
    {
        if (!this.AllowAdding)
            this.AllowAdding = true;
        else
            this.AllowAdding = false;
    }

    public void AllowSorting1()
    {
        if (!this.AllowSorting)
            this.AllowSorting = true;
        else
            this.AllowSorting = false;
    }

    public void FilterRecord() {
        
        this.Gantt.FilterByColumnAsync("TaskName","contains","Product concept");
    }

    public void EditDialog() {
        this.Gantt.OpenEditDialogAsync();
    }

    public async Task UpdateRecord()
    {
        await this.Gantt.UpdateRecordByIDAsync(new TaskData() { TaskId = 3, Progress = 50});
    }

    

    public void RemovePredecessor() {
        //this.Gantt.RemovePredecessor("3");
    }
    public class TaskData
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
        public string DurationUnit { get; set; }
        public int Progress { get; set; }
        public int? ParentId { get; set; }
        public string Predecessor { get; set; }
        public string Notes { get; set; }
        public string Custom { get; set; }
    }
    public static List<TaskData> GetTaskCollection()
    {
       List<TaskData> Tasks = new List<TaskData>() {
        new TaskData() {
            TaskId = 1,
            TaskName = "Product concept",
            StartDate = new DateTime(2021, 04, 02),
            EndDate = new DateTime(2021, 04, 08),
            Duration = "5 days",
            Custom = "custom1"
        },
        new TaskData() {
            TaskId = 2,
            TaskName = "Defining the product usage",
            StartDate = new DateTime(2021, 04, 02),
            EndDate = new DateTime(2021, 04, 08),
            Duration = "3",
            Progress = 30,
            ParentId = 1,
            Custom = "custom1"
        },
        new TaskData() {
            TaskId = 3,
            TaskName = "Defining the target audience",
            StartDate = new DateTime(2021, 04, 02),
            EndDate = new DateTime(2021, 04, 04),
            Duration = "3",
            Progress = 40,
            Predecessor="100,2SS",
            ParentId = 1,
            Custom = "custom1"
        },
        new TaskData() {
            TaskId = 4,
            TaskName = "Prepare product sketch and notes",
            StartDate = new DateTime(2021, 04, 05),
            EndDate = new DateTime(2021, 04, 08),
            Duration = "2",
            Progress = 30,
            ParentId = 1,
            Predecessor="2FS+3",
            Custom = "custom1"
        },
        new TaskData() {
            TaskId = 5,
            TaskName = "Concept approval",
            StartDate = new DateTime(2021, 04, 08),
            EndDate = new DateTime(2021, 04, 08),
            Duration="0",
            Predecessor="3FS-4"
        },
        new TaskData() {
            TaskId = 6,
            TaskName = "Market research",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 18),
            Predecessor="2",
            Duration = "4",
            Progress = 30
        },
        new TaskData() {
            TaskId = 7,
            TaskName = "Demand analysis",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 12),
            Duration = "4",
            Progress = 40,
            ParentId = 6
        },
        new TaskData() {
            TaskId = 8,
            TaskName = "Customer strength",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 12),
            Duration = "4",
            Progress = 30,
            ParentId = 7,
            Predecessor="5"
        }, new TaskData() {
            TaskId = 9,
            TaskName = "Market opportunity analysis",
            StartDate = new DateTime(2021, 04, 09),
            EndDate = new DateTime(2021, 04, 012),
            Duration="4",
            ParentId= 7,
            Predecessor="5"
        },
        new TaskData() {
            TaskId = 10,
            TaskName = "Competitor analysis",
            StartDate = new DateTime(2021, 04, 15),
            EndDate = new DateTime(2021, 04, 18),
            Duration = "4",
            Progress = 30,
            ParentId= 6,
            Predecessor="7,8"
        },
        new TaskData() {
            TaskId = 11,
            TaskName = "Product strength analysis",
            StartDate = new DateTime(2021, 04, 15),
            EndDate = new DateTime(2021, 04, 18),
            Duration = "4",
            Progress = 40,
            ParentId = 6,
            Predecessor="9"
        },
        new TaskData() {
            TaskId = 12,
            TaskName = "Research completed",
            StartDate = new DateTime(2021, 04, 18),
            EndDate = new DateTime(2021, 04, 18),
            Duration = "0",
            Progress = 30,
            ParentId = 6,
            Predecessor="10"
        },
         new TaskData() {
            TaskId = 13,
            TaskName = "Product design and development",
            StartDate = new DateTime(2021, 04, 19),
            EndDate = new DateTime(2021, 05, 16),
            Duration="20",
            Predecessor="6"
         },
        new TaskData() {
            TaskId = 14,
            TaskName = "Functionality design",
            StartDate = new DateTime(2021, 04, 19),
            EndDate = new DateTime(2021, 04, 23),
            Duration = "3",
            Progress = 30,
            ParentId = 13,
            Predecessor="12"
        },
        new TaskData() {
            TaskId = 15,
            TaskName = "Quality design",
            StartDate = new DateTime(2021, 04, 19),
            EndDate = new DateTime(2021, 04, 23),
            Duration = "3",
            Progress = 40,
            ParentId = 13,
            Predecessor="12"
        },
        new TaskData() {
            TaskId = 16,
            TaskName = "Define reliability",
            StartDate = new DateTime(2021, 04, 24),
            EndDate = new DateTime(2021, 04, 25),
            Duration = "2",
            Progress = 30,
            ParentId = 13,
            Predecessor="15"
        },
         new TaskData() {
            TaskId = 17,
            TaskName = "Identifying raw materials",
            StartDate = new DateTime(2021, 04, 24),
            EndDate = new DateTime(2021, 04, 25),
            Duration="2",
            ParentId=13,
            Predecessor="15"
        },
        new TaskData() {
            TaskId = 18,
            TaskName = "Define cost plan",
            StartDate = new DateTime(2021, 04, 26),
            EndDate = new DateTime(2021, 04, 29),
            Duration = "2",
            Progress = 30,
            ParentId=13,
            Predecessor="17"
        },
        new TaskData() {
            TaskId = 19,
            TaskName = "Manufacturing cost",
            StartDate = new DateTime(2021, 04, 26),
            EndDate = new DateTime(2021, 04, 29),
            Duration = "2",
            Progress = 40,
            ParentId = 18,
            Predecessor="17"
        },
        new TaskData() {
            TaskId = 20,
            TaskName = "Selling cost",
            StartDate = new DateTime(2021, 04, 26),
            EndDate = new DateTime(2021, 04, 29),
            Duration = "2",
            Progress = 30,
            ParentId = 18,
            Predecessor="17"
        },
         new TaskData() {
            TaskId = 21,
            TaskName = "Development of final design",
            StartDate = new DateTime(2021, 04, 30),
            EndDate = new DateTime(2021, 05, 08),
            Duration="7",
            ParentId=13
        },
        new TaskData() {
            TaskId = 22,
            TaskName = "Develop dimensions and design",
            StartDate = new DateTime(2021, 04, 30),
            EndDate = new DateTime(2021, 05, 01),
            Duration = "2",
            Progress = 30,
            ParentId=21,
            Predecessor="19,20"
        },
        new TaskData() {
            TaskId = 23,
            TaskName = "Develop designs to meet industry",
            StartDate = new DateTime(2021, 05, 02),
            EndDate = new DateTime(2021, 05, 03),
            Duration = "2",
            Progress = 40,
            ParentId = 21,
            Predecessor="22"
        },
        new TaskData() {
            TaskId = 24,
            TaskName = "Include all the details",
            StartDate = new DateTime(2021, 05, 06),
            EndDate = new DateTime(2021, 05, 08),
            Duration = "3",
            Progress = 30,
            ParentId = 21,
            Predecessor="23"
        },
         new TaskData() {
            TaskId = 25,
            TaskName = "CAD - Computer Aided Design",
            StartDate = new DateTime(2021, 05, 09),
            EndDate = new DateTime(2021, 05, 13),
            Duration="3",
            Predecessor="24"
        },
        new TaskData() {
            TaskId = 26,
            TaskName = "CAM - Computer Aided Manufacturing",
            StartDate = new DateTime(2021, 05, 14),
            EndDate = new DateTime(2021, 05, 16),
            Duration = "3",
            Progress = 30,
            Predecessor="25"
        },
        new TaskData() {
            TaskId = 27,
            TaskName = "Finalize the design",
            StartDate = new DateTime(2021, 04, 16),
            EndDate = new DateTime(2021, 04, 16),
            Duration = "0",
            Progress = 40,
            Predecessor="26"
        },
        new TaskData() {
            TaskId = 28,
            TaskName = "Prototype testing",
            StartDate = new DateTime(2021, 05, 17),
            EndDate = new DateTime(2021, 05, 22),
            Duration = "4",
            Progress = 30,
            Predecessor="27"
        }, 
        new TaskData() {
            TaskId = 29,
            TaskName = "Include feedback",
            StartDate = new DateTime(2021, 05, 17),
            EndDate = new DateTime(2021, 05, 22),
            Duration="4",
            Predecessor="28ss"
        },
        new TaskData() {
            TaskId = 30,
            TaskName = "Manufacturing",
            StartDate = new DateTime(2021, 05, 23),
            EndDate = new DateTime(2021, 05, 29),
            Duration = "5",
            Progress = 30,
            Predecessor="28,29"
        },
        new TaskData() {
            TaskId = 31,
            TaskName = "Assembling material to finished goods",
            StartDate = new DateTime(2021, 05, 30),
            EndDate = new DateTime(2021, 06, 05),
            Duration = "5",
            Progress = 40,
            Predecessor="30"
        },
        new TaskData() {
            TaskId = 32,
            TaskName = "Final product development",
            StartDate = new DateTime(2021, 06, 06),
            EndDate = new DateTime(2021, 06, 13),
            Duration = "6",
            Progress = 30
        }, new TaskData() {
            TaskId =33,
            TaskName = "Important improvement",
            StartDate = new DateTime(2021, 06, 06),
            EndDate = new DateTime(2021, 06, 10),
            Duration="3",
            ParentId=32,
            Predecessor="31"
        },
        new TaskData() {
            TaskId = 34,
            TaskName = "Customer testing and feedback",
            StartDate = new DateTime(2021, 06, 11),
            EndDate = new DateTime(2021, 06, 13),
            Duration = "3",
            Progress = 30,
            ParentId=32,
            Predecessor="33"
        },
        new TaskData() {
            TaskId = 35,
            TaskName = "Final product development",
            StartDate = new DateTime(2021, 06, 14),
            EndDate = new DateTime(2021, 06, 19),
            Duration = "4",
            Progress = 40
        },
        new TaskData() {
            TaskId = 36,
            TaskName = "Important improvement",
            StartDate = new DateTime(2021, 06, 14),
            EndDate = new DateTime(2021, 06, 19),
            Duration = "4",
            Progress = 30,
            ParentId = 35,
            Predecessor="34"
        },
         new TaskData() {
            TaskId = 37,
            TaskName = "Address any unforeseen issue",
            StartDate = new DateTime(2021, 06, 14),
            EndDate = new DateTime(2021, 06, 19),
            Duration = "4",
            Progress = 30,
            Predecessor="36ss",
            ParentId=35
        },
        new TaskData() {
            TaskId = 38,
            TaskName = "Final product",
            StartDate = new DateTime(2021, 06, 20),
            EndDate = new DateTime(2021, 07, 01),
            Duration = "8",
            Progress = 40
        },
        new TaskData() {
            TaskId = 39,
            TaskName = "Branding product",
            StartDate = new DateTime(2021, 06, 20),
            EndDate = new DateTime(2021, 06, 25),
            Duration = "4",
            Progress = 30,
            ParentId = 38,
            Predecessor="37"
        },
        new TaskData()
        {
            TaskId=40,
            TaskName="Marketing and Presales",
            StartDate=new DateTime(2021,06,26),
            EndDate=new DateTime(2021,07,01),
            ParentId=38,
            Duration="4",
            Predecessor="39"
        }
    };
            return Tasks;
        }
    }