@page "/BLAZ-949069"

@using Syncfusion.Blazor.Gantt
@rendermode InteractiveServer
<button @onclick="UpdateAssignment">Update Assignment</button>
<button @onclick="UpdateRecordFunc">Update Record By ID</button>
<button @onclick="AddRecord">Add Record</button>
<button @onclick="AddAssignment">Add Assignment</button>
<button @onclick="RemoveAssignment">Remove Assignment</button>
<SfGantt @ref="Gantt" DataSource="@TaskCollection" Height="450px" Width="1000px" DurationUnit="DurationUnit.Hour" WorkUnit="WorkUnit.Hour" Toolbar="@(new List<string>() { "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll", "Indent", "Outdent" })" EnableContextMenu="true" ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd" >
    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
    ParentID="ParentId" Work="Work" TaskType="TaskType"></GanttTaskFields>
    <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"></GanttEditSettings>
    <GanttResource DataSource="ResourceCollection" Id="Id" Name="Name" TValue="TaskInfoModel" TResources="ResourceInfoModel"></GanttResource>
    <GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="PrimaryId" TaskID="TaskId" ResourceID="ResourceId" Units="Unit" TValue="TaskInfoModel" TAssignment="AssignmentModel">
    </GanttAssignmentFields>
    <GanttLabelSettings TValue="TaskInfoModel" RightLabel="Resources"></GanttLabelSettings>
</SfGantt>

@code {
    public SfGantt<TaskInfoModel> Gantt;
    private DateTime ProjectStart = new DateTime(2022, 03, 25);
    private DateTime ProjectEnd = new DateTime(2022, 05, 10);
    private List<TaskInfoModel> TaskCollection { get; set; }
    private List<ResourceInfoModel> ResourceCollection { get; set; }
    private static List<AssignmentModel> AssignmentCollection { get; set; } = new();
    private List<GanttDayWorkingTime> ganttDayWorkingTimes = new List<GanttDayWorkingTime>()
    {
        new GanttDayWorkingTime(){From= 9, To= 13}
    };
    protected override void OnInitialized()
    {
        TaskCollection = GetTaskCollection();
        ResourceCollection = GetResources;
        AssignmentCollection = GetAssignmentCollection();
    }
    private async Task UpdateRecordFunc()
    {
        //TaskInfoModel data = new TaskInfoModel(30,"ProjectApproval",new DateTime(2022,04,01),new DateTime(2022,04,05),"5",56,29);
        TaskInfoModel data = new TaskInfoModel() { TaskId = 3, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = 1, Work = 96, Duration = "6", TaskType = TaskType.FixedUnit };
        await Gantt.UpdateRecordByIDAsync(data);
    }
    private async void UpdateAssignment()
    {
        var record = new AssignmentModel() { PrimaryId = 13, TaskId = 9, ResourceId = 3, Unit = 100 };
        await Gantt.UpdateResourceAssignmentAsync(record);
    }
    private async void AddAssignment()
    {
        var record = new AssignmentModel() { PrimaryId = 14, TaskId = 6, ResourceId = 7 };
        await Gantt.AddResourceAssignmentAsync(record);
    }
    private async void AddRecord()
    {
        var record = new AssignmentModel() { PrimaryId = 13, TaskId = 9, ResourceId = 1 };
        TaskInfoModel data = new TaskInfoModel() { TaskId = 9, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = 1, Work = 24, Duration = "6", TaskType = TaskType.FixedDuration };
        await Gantt.AddRecordAsync(data, null, null, record);
    }
    private async void RemoveAssignment()
    {
        var record = new AssignmentModel() { PrimaryId = 8, TaskId = 6, ResourceId = 4 };
        await Gantt.DeleteResourceAssignmentAsync(record);
    }
    public class TaskInfoModel
    {
        public int TaskId { get; set; }
        public string TaskName { get; set; }
        public TaskType TaskType { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
        public double Progress { get; set; }
        public int? ParentId { get; set; }
        public string Notes { get; set; }
        public double? Work { get; set; }
        public string Predecessor { get; set; }
    }

    public class ResourceInfoModel
    {
        public int Id { get; set; }
        public string? Name { get; set; }
    }
    public class AssignmentModel
    {
        public int PrimaryId { get; set; }
        public int TaskId { get; set; }
        public int ResourceId { get; set; }
        public double? Unit { get; set; }
    }

    List<ResourceInfoModel> GetResources = new List<ResourceInfoModel>() {
        new ResourceInfoModel() { Id= 1, Name= "Martin Tamer"},
        new ResourceInfoModel() { Id= 2, Name= "Rose Fuller" },
        new ResourceInfoModel() { Id= 3, Name= "Margaret Buchanan" },
        new ResourceInfoModel() { Id= 4, Name= "Fuller King" },
        new ResourceInfoModel() { Id= 5, Name= "Davolio Fuller" },
        new ResourceInfoModel() { Id= 6, Name= "Van Jack" },
        new ResourceInfoModel() { Id= 7, Name= "Fuller Buchanan" },
        new ResourceInfoModel() { Id= 8, Name= "Jack Davolio" },
        new ResourceInfoModel() { Id= 9, Name= "Tamer Vinet" },
        new ResourceInfoModel() { Id= 10, Name= "Vinet Fuller" },
        new ResourceInfoModel() { Id= 11, Name= "Bergs Anton" },
        new ResourceInfoModel() { Id= 12, Name= "Construction Supervisor" }
    };

    public static List<AssignmentModel> GetAssignmentCollection()
    {
        List<AssignmentModel> assignments = new List<AssignmentModel>()
        {
            new AssignmentModel(){ PrimaryId=1, TaskId = 2, ResourceId=1, Unit=0},
            new AssignmentModel(){ PrimaryId=2, TaskId = 2, ResourceId=6},
            new AssignmentModel(){ PrimaryId=3, TaskId = 3, ResourceId=2},
            new AssignmentModel(){ PrimaryId=4, TaskId = 3, ResourceId=3},
            new AssignmentModel(){ PrimaryId=5, TaskId = 3, ResourceId=5},
            new AssignmentModel(){ PrimaryId=6, TaskId = 4, ResourceId=8, Unit=80},
            new AssignmentModel(){ PrimaryId=7, TaskId = 4, ResourceId=9},
            new AssignmentModel(){ PrimaryId=8, TaskId = 6, ResourceId=4},
            new AssignmentModel(){ PrimaryId=9, TaskId = 7, ResourceId=6},
            new AssignmentModel(){ PrimaryId=10, TaskId = 7, ResourceId=8},
            new AssignmentModel(){ PrimaryId=11, TaskId = 8, ResourceId=12},
            new AssignmentModel(){ PrimaryId=12, TaskId = 8, ResourceId=5},
        };
        return assignments;
    }
    public static List<TaskInfoModel> GetTaskCollection()
    {
        List<TaskInfoModel> Tasks = new List<TaskInfoModel>() {
            new TaskInfoModel() { TaskId = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 03, 28), EndDate = new DateTime(2022, 07, 28), TaskType = TaskType.FixedDuration, Work=128, Duration="4" },
            new TaskInfoModel() { TaskId = 2, TaskName = "Identify Site location", StartDate = new DateTime(2022, 03, 29), Progress = 30, ParentId = 1, Duration="3", Work=24, TaskType = TaskType.FixedUnit },
            new TaskInfoModel() { TaskId = 3, TaskName = "Perform soil test", StartDate = new DateTime(2022, 03, 29), ParentId = 1, Work=96, Duration="4", TaskType = TaskType.FixedUnit,Predecessor="2FS" },
            new TaskInfoModel() { TaskId = 4, TaskName = "Soil test approval", StartDate = new DateTime(2022, 03, 29), Duration = "1", Progress = 30, ParentId = 1, Work=16, TaskType = TaskType.FixedWork },
            new TaskInfoModel() { TaskId = 5, TaskName = "Project estimation", StartDate = new DateTime(2022, 04, 02), EndDate = new DateTime(2022, 04, 06), TaskType = TaskType.FixedDuration, Duration="4",Predecessor ="4SS" },
            new TaskInfoModel() { TaskId = 6, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 04, 02), Duration = "3", Progress = 30, ParentId = 5, Work=30, TaskType = TaskType.FixedDuration },
            new TaskInfoModel() { TaskId = 7, TaskName = "List materials", StartDate = new DateTime(2022, 04, 03), Duration = "3", Progress = 30, ParentId = 5, TaskType = TaskType.FixedWork, Work=48 ,Predecessor ="6FF"},
            new TaskInfoModel() { TaskId = 8, TaskName = "Estimation approval", StartDate = new DateTime(2022, 04, 03), Duration = "2", ParentId = 5, Work=60, TaskType = TaskType.FixedWork }
        };
        return Tasks;
    }
}
